
    <!-- Header -->
      <header id="header">
        <div class="inner">

          <!-- Logo -->
            <a href="<%= dash_path %>" class="logo">
              <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Panther</span>
            </a>

          <!-- Nav -->
            <nav>
              <ul>
                <li><a href="#menu">Menu</a></li>
              </ul>
            </nav>

        </div>
      </header>

    <!-- Menu -->
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="<%= dash_path %>">Home</a></li>
          <li><a href="#">Post Management</a></li>
          <li><a href="#">Site Settings</a></li>
          <li><a href="<%= logout_path %>">Logout</a></li>
        </ul>
      </nav>
