<% content_for :title, "Reset Your Password" %>
<% content_for :font, "https://fonts.googleapis.com/css?family=Montserrat:200" %>
<% content_for :stylesheet, "https://cdn.2pro.international/panther/stylesheets/login.css" %>
<% content_for :login, "1" %>
<ul class="notice errors">
<li>Whoops! Looks like that wasn't a valid link.</li>
</ul>
<%= image_tag "logo-text-white.png", :height => '55', :class => 'logo' %> <!-- 180^2 for signup -->

<%= form_tag('', :class => 'vertical-form') do |f| %>
<legend>
We slipped up!
</legend>
<% end %>
