<% content_for :title, "Reset Your Password" %>
<% content_for :font, "https://fonts.googleapis.com/css?family=Montserrat:200" %>
<% content_for :stylesheet, "login.css" %>
<% content_for :login, "1" %>
<ul class="notice errors">
<li>If that email belongs to an account, we'll send you an email.</li>
</ul>
<%= image_tag "logo-text-white.png", :height => '55', :class => 'logo' %> <!-- 180^2 for signup -->

<%= form_tag('', :class => 'vertical-form register') do |f| %>
<legend>
All Done
</legend>
<% end %>
