<% content_for :stylesheet, "https://cdn.2pro.international/panther/errors/main.css" %>
<% content_for :error, "1" %>
<% content_for :title, "500" %>
<div id="wrap">
  <% if Setting.limit(1).pluck(:errors_override).first.nil? %>
      <h1>Uh Oh...</h1>
      <div class="content">
        <hr>
        Internal Server Error
        <hr>
      </div>
    </div>
<% else %>
  <%= Setting.limit(1).pluck(:errors_override).first %>
  <% end %>
