<% content_for :stylesheet, "https://cdn.2pro.international/panther/errors/main.css" %>
<% content_for :error, "1" %>
<% content_for :title, "500" %>
<div id="wrap">
      <h1>Uh Oh...</h1>
      <div class="content">
        <hr>
        Internal Server Error
        <hr>
      </div>
    </div>
