<% content_for :stylesheet, "https://ltscdn.m6.nz/panther/errors/main.css" %>
<% content_for :error, "1" %>
<% content_for :title, "404" %>
<div id="wrap">
      <h1>Uh Oh...</h1>
      <div class="content">
        <hr>
        Not Found
        <hr>
      </div>
    </div>
